.wrapper {
  padding: 40px;
}

.card {
  border: 1px solid black;
  width: 200px;
  border-radius: 4px;
  padding: 15px;
}

.expandable-section {
  overflow: hidden;
}

h5 {
  text-align: center;
  margin: 5px 0;
}
